.clear {
  clear: both;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body{
	background-color: gray;
}

.main{
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	font-family: "Cantarell";
}

.header{
	margin-top: 20px;
}

.navbar{
	float: left;
	margin-top: 40px;
}

.navbar li{
	float: left;
	padding-left:15px;
}

.navbar li a{
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	padding: 10px 10px;
	display: inline-block;
}

.navbar li a:hover{
	color: #20fffd;
}

.navbar li:first-child{
	padding-left: 0;
}

.navbar li.active a{
	text-decoration: none;
	color: #000;
	font-size: 15px;
	font-weight: 700;
	background-color: #20fffd;
}
.banner{
	margin-top: 30px;
}
.banner img{
	max-width: 100%;
}
.content{
	margin-top: 30px;
	max-width: 100%;
	
}
.sidebar{
	float: left;
	width: 320px;
	background-color: #efefef;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px; 
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}


.sidebar .search .box{
	width: 255px;
	padding: 8px;
	font-weight: 700;
	border-radius: 5px;
}

.sidebar .search button{
	background-color:#fff;
	background-repeat: no-repeat; 
	padding: 5px;
	width:32px;
	height: 25px; 
	margin-left: -42px;
	border-style: none; 
}

.sidebar .search img{
	vertical-align: middle;
}

.sidebar h2{
	font-size: 19px;
	font-family: "DejaVu Sans";
	padding-top: 15px;
	padding-bottom: 10px;
}

.sidebar li a{
	color:#27ae60;
	font-weight: 700;
	text-decoration: none;
	padding-bottom: 10px;
	display: inline-block;
}

.sidebar ul{
	padding-bottom: 30px;
	border-bottom: 1px solid darkgray;
}

.sidebar ul:nth-child(5){
	border-style: none;
	padding-bottom: 0;
}
.sidebar img{
	text-align: center;
	vertical-align: bottom;
}
.text{
	background-color: #fff;
	width: 620px;
	float: right;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
}

.text h2{
	padding-top: 30px;
	font-weight: 700;
}

.text p{
	line-height: 20px;
	padding-top: 15px;
}

.text img{
	max-width: 100%;
}

.footer{
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	margin-top: 30px;
	padding: 5px;
}
