.clear {
  clear: both;
}

.site {
  width: 600px;
  background-color: gray;
  margin-right: auto;
  margin-left: auto;

  /*border-width: 10px;
  border-style: dotted;
  border-color: black;*/

  border: 10px dotted black;

  position: relative;
}

.header {
  height: 100px;
  color: white;
  font-size: 40px;
  background-color: red;
  text-align: center;
}

.content {
  width: 400px;
  background-color: blue;

  float: left;
}

.sidebar {
  width: 200px;
  height: 200px;
  background-color: purple;

  float: right;
}

.footer {
  height: 150px;
  background-color: purple;
  color: white;
  font-size: 20px;
  text-align: center;

  position: absolute;
  top: 0;
  left: 0;
}

.navigation {
  background-color: green;
  position: relative;
  z-index: 1;
}

.navigation ul {
  list-style: none;
}

.navigation ul li {
  float: left;
  margin-left: 10px;
  background-color: red;
}

/*.navigation ul li:nth-child(1) {
  margin-left: 0;
}*/

.navigation ul li:first-child {
  margin-left: 0;
}

/*.navigation ul li:last-child {
  margin-left: 0;
}*/

.navigation ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  display: inline-block;
}

.navigation ul li a:hover {
  background-color: blue;
}
