@media (max-width: 1020px) {
  .site {
    width: 768px;
  }

  .products .item {
    width: 180px;
    height: 180px;
    margin-left: 16px;
  }

  .blog-posts .item {
    width: 374px;
  }

  .blog-posts .item img {
    width: 100px;
    height: 100px;
  }

  .blog-posts .item .text {
    width: 264px;
    margin-left: 10px;
  }
}

/* tablet */
@media (max-width: 768px) {
  .site {
    width: 100%;
  }

  .site .menu {
    display: none;

    width: 200px;
    height: 100%;
    background-color: red;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;

    margin-top: 0;
  }

  .site .menu li {
    float: none;
    margin-top: 20px;
    margin-left: 20px !important;
  }

  .site .menu li a {
    color: white;
  }

  .site .mobile-menu {
    display: block;
  }

  .products .item {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }

  .products .item:nth-child(1) {
    margin-top: 0;
  }

  .blog-posts .item {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }

  .blog-posts .item:nth-child(1) {
    margin-top: 0;
  }

  .blog-posts .item img {
    width: 20%;
    height: auto;
  }

  .blog-posts .item .text {
    width: 76%;
    margin-left: 4%;
  }
}

/* mobile phone */
@media (max-width: 480px) {}
