*{
	box-sizing: border-box;
	-webkit-box-sizing : border-box;
	-moz-box-sizing: border-box;
}
body{
	font-family: Arial;
}

.clear{
	clear: both;
}

.main{
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

.header{
	height: 100px;
	background-color: gray;
}

.logo{
	float: left;
}

.navbar{
	margin-top: 30px;
	float: right;
	background-color: #222;
}

.navbar ul{
	list-style: none;
}

.navbar ul li{
	float: left;
	padding: 7px;
}

.navbar ul li a{
	text-decoration: none;
	color: #fff;
}

.navbar ul li a:hover{
	color: yellow;
}

.post-header{
	background-color: #222;
	line-height: 40px;
	height: 40px;
	color: yellow;
	padding-left: 20px;
}

.post-content .post-image{
	float: left;
	width: 150px;
}

.post-content .post-image img{
	margin: 1px 1px 1px 0px;
	border: 1px solid gray;
}

.post-content .post-text{
	float: right;
	width: 790px;
	display: block;
}
.post-content .post-text p{
	padding: 10px;
}

.post-content .post-footer{
	height: 40px;
	line-height: 40px;
	background-color: #222;
	padding-left: 20px;
	color: #fff;
	margin-bottom: 10px;
}

.post-content .post-footer a{
	float: right;
	padding-right:20px; 
	color: yellow;
	display: block;
}

.post-content .post-footer a:hover{
	color: #fff;
}

.page ul li{
	float: left;
}

.page ul li a{
	padding: 10px;
	background-color:  yellow;
	text-decoration: none;
}

.page ul li a:hover{
	color: #fff;
	background-color: #222;
}

.footer{
	background-color: yellow;
}

.copyright{
	text-align: center;
	line-height: 100px;
	height: 100px;
	display: block;
}
