.clear{
	clear: both;
}

*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.menu{
	width: 800px;
	margin: 50px auto 0;
	background-color: gray;
	font-family: Arial;
}

.menu li{
	width: 200px;
	float: left;
	border-left: 1px solid white;
	text-align: center;
}

.menu li:first-child{
	border-left: 0;
}

.menu li a{
	text-decoration: none;
	padding: 10px;
	display: block;
	color: white;
}

.menu li a:hover{
	background-color: red;
}