.clear {
  clear: both;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

img{
	max-width: 100%;
}

strong{
	font-weight: 700;
}

.site{
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	font-family: "Tahoma";
}

.header{
	margin-top: 40px;
}

.logo{
	float: left;
}

.navbar{
	float: right;
}

.mininav{
	float: right;
}
.mininav li{
	float: left;
}
.mininav li > a{
	font-size: 11px;
	font-weight: 700;
	padding: 3px;
	background-color: gray;
	color: #fff;
}

.nav{
	margin-top: 20px;
}
.nav li{
	float: left;
	margin-top: 10px;
}

.nav li a{
	display: inline-block;
	background-color: darkblue;
	padding: 10px;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	font-family: "Arial";
}

.banner{
	margin-top: 30px;
}

.banner img{
	padding: 4px;
	border: 1px solid lightgray;
}

.text{
	float: left;
	width: 70%;
}

.text p{
	line-height: 20px;
	color: gray;
	text-indent: 20px;
	margin-top: 10px;
	font-size: 14px;
}

.sidebar{
	float: right;
	width: 27%;
	margin-left: 3%;
	border-left: 1px solid lightgray;
	padding: 10px;

}



.kur li{
	float: left;
}

.kur ul li h3{
	font-size: 13px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
	color: darkgray;
}

.kur ul li p{
	padding: 3px;
	color: gray;
	font-size: 14px;
}

.footer{
	margin-top: 30px;
	font-size: 14px;
	color: darkgray;
	border-top: 1px solid lightgray;
	padding: 10px;
}



