.clear {
  clear: both;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background-image: url("img/body.png");
  background-repeat: repeat-x;
  font-family: "Arial";
  font-size: 13px;
  color: black;
}

.site {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  margin-top: 80px;
}

.header .logo {
  float: left;
}

.header .right-bar {
  float: right;
  margin-top: 15px;
}

.header .right-bar .contact {
  font-size: 11px;
  padding-left: 15px;
  background-image: url("img/tel.png");
  background-repeat: no-repeat;
  background-position: left center;
}

.header .right-bar .contact strong {
  font-weight: 700;
}

.header .right-bar .language-menu {
  margin-top: 20px;
  float: right;
}

.header .right-bar .language-menu ul li {
  float: left;
  margin-left: 5px;
}

.header .right-bar .language-menu ul li:first-child {
  margin-left: 0;
}

.header .navigation {
  margin-top: 20px;
  border: 1px solid gray;
}

.header .navigation > ul > li {
  float: left;
  position: relative;
  border-left: 1px solid gray;
}

.header .navigation > ul > li:first-child {
  border-left: 0;
}

.header .navigation > ul > li > a {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.header .navigation > ul > li > a:hover {
  background-color: orange;
  color: white;
}

.header .navigation .submenu {
  display: none;
  width: 140px;
  position: absolute;
  top: 33px;
  left: 0;
  background-color: red;
}

.header .navigation li:hover .submenu {
  display: block;
}

.header .navigation .submenu a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.content {
  margin-top: 20px;
}

.content .featured-img {
  border: 1px solid gray;
}

.content .featured-img img {
  display: block;
}

.content .featured-text {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}

.content .text-list {
  margin-top: 20px;
}

.content .text {
  width: 300px;
  float: left;
  margin-left: 20px;
}

.content .text:nth-child(1) {
  margin-left: 0;
}

.content .text p.title {
  height: 40px;
  font-weight: 700;
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
  line-height: 40px;
}

.content .text:nth-child(1) p.title {
  background-image: url("img/home-list_01.png");
}

.content .text:nth-child(2) p.title {
  background-image: url("img/home-list_02.png");
}

.content .text:nth-child(3) p.title {
  background-image: url("img/home-list_03.png");
}
