.main{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  color:#fff;
}

li{
  list-style: none;
  padding: 5px;
}

h3{
  font-size: 18px;
  margin: 0;
  width: 100px;
  color: #000;

}

.clear{
  clear: both;
}

#yapilacak{
  float: left;
  background-color: rgb(228, 48, 0);
  width: 200px;
}


#yapildi{
  float: right;
  background-color:rgb(43, 184, 15) ;
  width: 200px;
}
