.clear{
	clear: both;
}
#main{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
}

#header{
	width: 600px;
	height: 100px;
	text-align: center;
	color: #fff;
	font-size: 32px;
	background-color: red;
}

#navigation ul{
	list-style: none;
}

#navigation ul li{
	float: left;
}

#navigation ul li a{
	text-decoration: none;
	padding: 5px;
	color:  #fff;
	background: blue;
	display: inline-block;
}

#content{
	background-color: #222;
	float: left;
	width: 400px;
	height: 300px;
	color:#fff;
}

#sidebar{
	background-color: #777;
	float:right;
	width: 200px;
	height: 300px;
}

#footer{
	width: 600px;
	height: 100px;
	background-color: #666;
	text-align: center;
}

/*	
	padding: 50px 40px 50px 40px top right bottom left
	padding: 50px 40px 50px  top right left bottom
	padding: 50px 40px  top bottom rigth left
*/