.clear {
  clear: both;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.main{
	width: 1020px;
	margin-left: auto;
	margin-right: auto;
	font-family: "Arial";
}

.logo{
	margin-top: 30px;
	float: left;	
}

.header{
	border-bottom: 1px solid #63b8ff;
	padding-bottom: 25px;
	margin-bottom: 20px;
}

.navbar{
	margin-top: 50px;
	float: right;
}

.navbar li{
	float: left;
}

.navbar li a{
	text-decoration: none;
	font-weight: 700;
	padding: 10px 12px;
	color: #000;
	display: block;
	background-color: #fff;

}

.navbar li a:hover{
	background-color: #63b8ff;
	color: #fff;
	border-radius: 6px;
}

.head{
	padding: 10px;
	text-align: center;
	background-color: #63b8ff;
	border-radius: 5px;
	font-weight: 700;
	color: #fff;
}

.product{
	margin-top: 10px;
}

.product-item{
	float: left;
	margin-left: 20px;
	margin-bottom: 10px;
}

.product-item:nth-child(1){
	margin-left: 0;
}

.product-item img{
	width: 240px;
	height: 260px;
	border: 1px solid lightgray;
}

.blog{
	margin-top: 10px;
}

.blog-item{
	float:left;
	width: 500px;
}

.image{
	float:left;
}

.blog-content{
	width: 380px;
	float: left;
	padding-left: 20px; 
	margin-bottom: 20px;
}

.blog-content h2{
	font-weight: 700;
	display: block;
	padding: 5px 0; 
}

.blog-content p{
	font-size: 14px;
	display: block;
	height: 55px;
	overflow: hidden;
}

.blog-content span{
	padding: 3px;
	display: inline-block;
	background-color: #000;
	color: #fff;
	font-size: 14px;
	margin-top: 18px;
}

.footer{
	border-top: 1px solid lightgray;
	padding: 20px 0;
	color: gray;

}