.clear{
	clear: both;
}

*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.list{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: gray;
	color: #fff;
	font-family: "Arial";
}

.list-item{
	width: 320px;
	margin-left: 20px;
	float: left;
}

.list-item:nth-child(1){
	margin-left: 0;
}

.list-item h2{
	font-weight: 700;
	font-size: 20px;
	padding: 10px;
}

.list-item p{
	font-size: 16px;
	font-style: italic;
	padding: 10px;
}